ul{
  width: 100%;
  height: 20px;
  background-color: black;
  padding: 1px;
  padding: 10px;
  text-align: center;

}

ul li{
  display: inline;
  padding: 20px;
}

ul li a{
  text-decoration: none;
  color: aliceblue;
}


.banner{
  width:100%;
  height:500px;
  background-image: url("./assets/coursebnner.png");
  background-size: 100% 500px;
  background-position: center;
  background-repeat: no-repeat;
}

.coursecontainer{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.java{
  width: 33.33%;
  height: 100px;
  margin-left: 20px;
 

}
.java h1{
  text-align: center;
}

.dotnet{
  width: 33.33%;
  height: 100px;
  
}
.dotnet h1{
  text-align: center;
}


.python{
  width: 33.33%;
  height: 100px;
  
 
}

.python h1{
  text-align: center;
}
